[submodule "common"]
	path = common
	url = https://github.com/phinetech/phine.af-common.git
[submodule "southbound/oai-cn5g-common-src"]
	path = southbound/oai-cn5g-common-src
	url = https://gitlab.eurecom.fr/oai/cn5g/oai-cn5g-common-src.git
[submodule "af_core/tests/integration/common"]
	path = af_core/tests/integration/common
	url = https://github.com/phinetech/phine.af-common.git
